.button-container {
    button {
        background: none;
        border: none;
        cursor: pointer;
        background-color: #1976d2;
        padding: 10px 10px;
        color: white;
        border-radius: 2px;
        font-family: inherit;
    }
}