.home-container {
    width: 80%;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    -webkit-box-shadow: 2px 4px 24px 9px rgba(209, 209, 209, 1);
    -moz-box-shadow: 2px 4px 24px 9px rgba(209, 209, 209, 1);
    box-shadow: 2px 4px 24px 9px rgba(209, 209, 209, 1);

    &::-webkit-scrollbar {
        display: none;
    }

    .access-key-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        * {
            margin-left:10px;
        }
    }

    .commit-history-container {
        display: flex;
        flex-direction: column;

        .commit-history-header {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid grey;

            .header {
                color: #1976d2;
                font-size: 18px;
                margin-right: 10px;
                font-style: italic;
            }
        }
    }
}